/* fondamentale scrivere in head di html che il css comunica con lui */
h3{
    ont-weight 700;
    font-style: italic;
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 28px;
}
/* body è un selettore, di colore in questo caso*/

body { font-family: 'HalyardDis_ISIAU Bk';
}

/* il colori si possono fare con color:rgb e con color #ff000*/

body{color:
    font-family: 'HalyardDis_ISIAU Bk';
}
/*questo è per cambiare il colore del carattere*/

a {
    border-bottom: 1px solid black; /*shorthand è la contrazione di quelle che normalmente sarebbero diverse righe di codice*/ 
    font-family: 'HalyardDis_ISIAU Bk';
    text-decoration: overline;
}
/* colore e linea del link*/

a:hover{
    text-decoration: underline;
}
/* colore e linea del link quando lo si tocca*/

a:visited{
    
    text-decoration: line-through;
}
/* colore e linea del link dopo che si è visiato il link*/


